# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Env
.env

# Image files
platform*.fw
platform*.img
image.old.zip
image*.zip

#IDEA
.idea/
*.iml

# Elixir LS
.elixir_ls/

ctags

# Database
/priv/db
/priv/admin_db
/priv/test_db
/priv/test_admin_db
/priv/test_media
/priv/test_storage
